html {
    background-color: lightblue;
    font-family: Impact, Charcoal, sans-serif;
    color: black;
    box-sizing: border-box;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: lavender;
    padding: 0 20px 20px 20px;
    border: 1px dashed grey;
    font-family: Impact, Charcoal, sans-serif;
}

h1 {
    color: dodgerblue;
    text-align: center;
}

h3 {
    color: lightseagreen;
}

.img{
    float: center

}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

footer {
    text-align: center;
}

anav {
    text-algin: center;
}